@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
/*
font-family: 'Pacifico', cursive; 		estilo da página de html
font-family: 'Russo One', sans-serif;  	estilo da página de html
font-family: 'Yellowtail', cursive;     estilo do "space" da logo
*/

body{
	margin: 0;
	padding: 0;
	height: 1000px;
	background-color: rgba(0,0,0,.2);
}

h1.logo{
	font-size: 70px;
	display: inline-block;
	margin-left: 100px;	
}

#logohtml{
	color: #fff;
	font-family: 'Russo One', sans-serif;
	text-shadow: 3px 0px 0px #1D91B8, 
                 -1px 0px 0px #1D91B8, 
                 0px 3px 0px #1D91B8, 
                 0px -1px 0px #1D91B8;
}

.logo .space{
	
	font-size: 55px;
	display: inline-block;
	position: absolute;
	top: 50px;
	margin-left: -105px;
	
}

.side-msg{
	position: absolute;
}

#spacehtml{
	color: #fff;
	font-family: 'Yellowtail', cursive;
    text-shadow: 2px 0px 0px  #000, 
                 -1px 0px 0px #000, 
                 0px 2px 0px  #000, 
                 0px -1px 0px #000;
}

.background-menu{
	display: block;
	width: 100%;
	margin-top: -20px;
	height: 179px;
}

#background-menuhtml{
	background:linear-gradient(to bottom right, #EE5D26, #F38030);	
}

.menu-container{
	display: block;
	width: 100%;
	height: 75px;
	border-top: 1px solid rgba(0,0,0,0.2);
	box-shadow: 2px 2px 2px 0px #1D91B8;
}
#menu-containerhtml{
	background: linear-gradient(to bottom right, #F38030, #EE5D26)
}

a.iten-menu{
	text-decoration: none;
	float: left;
	font-size: 25px;
	padding:23px;
	transition: all 0.3s;
}

#iten-menuhtml{
	color: #fff;
	font-family: 'Russo One', sans-serif;
	text-shadow: 3px 0px 0px #1D91B8, 
                 -1px 0px 0px #1D91B8, 
                 0px 3px 0px #1D91B8, 
                 0px -1px 0px #1D91B8;
            
}

#iten-menuhtml:hover{
	background:linear-gradient(to bottom right, #B1CA90, #1993BC);
	transition: all 0.3s;
	transform: scale(1.1);
}

a.side-menu-iten{
	text-decoration: none;
	float: right;
	font-size: 25px;
	padding:23px;	
	transition: all 0.3s;
}

/*ROLAGEM DO MENU COM JQUERY*/


.menuFixo{
	position: fixed;
	top: 0;
	z-index: 99;
	transition: all 0.3s;
}

#minilogo{
	font-size: 35px;
	display: inline-block;
	position: absolute;
	color: #fff;
	font-family: 'Russo One', sans-serif;
	text-shadow: 3px 0px 0px #1D91B8, 
                 -1px 0px 0px #1D91B8, 
                 0px 3px 0px #1D91B8, 
                 0px -1px 0px #1D91B8;
    margin-left: 770px;
    margin-top: 16px;
    transition: all 0.3s;
    opacity: 0;
}

#minilogospan{
	font-size: 25px;
	display: inline-block;
	position: absolute;
	color: #fff;
	font-family: 'Yellowtail', cursive;
    text-shadow: 2px 0px 0px  #000, 
                 -1px 0px 0px #000, 
                 0px 2px 0px  #000, 
                 0px -1px 0px #000;
    margin-top: 10px;
    margin-left: -30px;
    transition: all 0.3s;
}

.marca{
	display: inline;
	position: absolute;
	font-size: 30px;
	color: #fff;
	font-family: 'Yellowtail', cursive;
	text-shadow: 1px 0px 0px #000, 
                 -1px 0px 0px#000, 
                 0px 1px 0px #000, 
                 0px -1px 0px#000;
    top: 60px;
    right: 20px;
}

.sociallogo{
	display: block;
	position: absolute;
}

.face{
	top: 20px;
	right: 80px;
	width: 55px;
	
}

.yout{
	top: -3px;
	right: 150px;
	width: 100px;

}

.twit{
	top:20px;
	right: 20px;
	width: 50px;
}

.main-section{
	display: block;
	position: relative;
	width: 1200px;
	background-color: #fff;
	margin: auto;
	margin-top:75px;
	border-radius: 5px;
	z-index: -1;
	padding: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
/*font para o titulo dos artigos*/
@import url('https://fonts.googleapis.com/css?family=Ranga');
/*font dos artigos*/

.article-box{
	display: block;
	border-bottom: 1px dotted #000;
	padding-bottom: 50px;
}

.article-title{
	position: relative;
	top: 20px;
	font-size: 35px;
	font-family: 'Encode Sans Expanded', sans-serif;
	text-align: center;
}

.date{
	font-size: 20px;
	position: relative;
	top: -52px;
}

#welcome-article{
	text-align: center;
}

.article{
	position: relative;
	font-size: 25px;
	font-family: 'Ranga', cursive;
	width: 900px;
	margin: auto;

}

#color{
	color: #FF7F50;
}

.code-frame-block{
	position: relative;
	display: block;
	top: 20px;
	width: 1000px;
	height: 500px;
	margin:auto;
}

/*------------------ INDEX.HTML DO CSS SPACE---------------*/

@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

#logocss{
	font-size: 65px;	
	color: #fff;
	font-family: 'Lobster Two', cursive;
	text-shadow: 3px 0px 0px #1D91B8, 
                 -1px 0px 0px#1D91B8, 
                 0px 3px 0px #1D91B8, 
                 0px -1px 0px#1D91B8;
}

#spacecss{
	margin-left: -50px;
	color: #fff;
	font-family: 'Yellowtail', cursive;
    text-shadow: 2px 0px 0px  #000, 
                 -1px 0px 0px #000, 
                 0px 2px 0px  #000, 
                 0px -1px 0px #000;
}

#background-menucss{
   background:linear-gradient(to bottom right, #1cbc64, #4ebc1c);
}

#menu-containercss{
	background:linear-gradient(#4ebc1c, #1cbc64);
}

#iten-menucss{
	color: #fff;
	font-family: 'Russo One', sans-serif;
	text-shadow: 3px 0px 0px #1D91B8, 
                 -1px 0px 0px #1D91B8, 
                 0px 3px 0px #1D91B8, 
                 0px -1px 0px #1D91B8;
            
}

#iten-menucss:hover{
	background:linear-gradient(#B1CA90, #1993BC);
	transition: all 0.3s;
	transform: scale(1.1);
}


#minilogo{
	font-size: 35px;
	display: inline-block;
	position: absolute;
	color: #fff;
	font-family: 'Russo One', sans-serif;
	text-shadow: 3px 0px 0px #1D91B8, 
                 -1px 0px 0px #1D91B8, 
                 0px 3px 0px #1D91B8, 
                 0px -1px 0px #1D91B8;
    margin-left: 770px;
    margin-top: 16px;
    transition: all 0.3s;
    opacity: 0;
}

#minilogospan{
	font-size: 25px;
	display: inline-block;
	position: absolute;
	color: #fff;
	font-family: 'Yellowtail', cursive;
    text-shadow: 2px 0px 0px  #000, 
                 -1px 0px 0px #000, 
                 0px 2px 0px  #000, 
                 0px -1px 0px #000;
    margin-top: 10px;
    margin-left: -30px;
    transition: all 0.3s;
}


/*-------------------------INDEX DO JAVASCRIPT--------------------------------*/

#logojs{
	font-size: 65px;	
	color: #fff;
	font-family: 'Lobster Two', cursive;
	text-shadow: 3px 0px 0px #000, 
                 -1px 0px 0px#000, 
                 0px 3px 0px #000, 
                 0px -1px 0px#000;
}

#spacejs{
	font-size: 60px;
	margin-left: -80px;
	top: 55px;
	color: #fff;
	font-family: 'Yellowtail', cursive;
    text-shadow: 2px 0px 0px  #000, 
                 -1px 0px 0px #000, 
                 0px 2px 0px  #000, 
                 0px -1px 0px #000;
}

#background-menujs{
   background:linear-gradient(to bottom right, #f1fc1b, #fffc6d);
}

#menu-containerjs{
	background:linear-gradient(to bottom right, #f1fc1b, #fffc6d);
	box-shadow: 2px 2px 2px 0px #000;
}

#iten-menujs{
	color: #fff;
	font-family: 'Russo One', sans-serif;
	text-shadow: 1px 0px 0px #000, 
                 -.5px 0px 0px#000, 
                 0px 2px 0px #000, 
                 0px -.5px 0px#000;
            
}

#iten-menujs:hover{
	background:linear-gradient(#4B5053, #2A2B2D);
	transition: all 0.3s;
	transform: scale(1.1);
}

#minilogojs{
	font-size: 30px;
	display: inline-block;
	position: absolute;
	color: #fff;
	font-family: 'Russo One', sans-serif;
	text-shadow: 3px 0px 0px #1D91B8, 
                 -1px 0px 0px #1D91B8, 
                 0px 3px 0px #1D91B8, 
                 0px -1px 0px #1D91B8;
    margin-left: 740px;
    margin-top: 20px;
    transition: all 0.3s;
    opacity: 0;
}



/*------------------WEB BLOCK---------------------	*/


.web-block{
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 200px;
	height: 160px;
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: 2px 2px 2px 0px #000;
	border-radius: 5px;
}

a.web-link{
	position: relative;
	text-decoration: none;
	list-style: none;
	font-size: 25px;
	padding: 10px;
	margin-top: 0px;
	display: inline-block;
	transition: all .3s;
}

.web-link:hover{
	transform: scale(1.3);
}

.html-link{
	color: #fff;
	font-size: 27px;
	font-family: 'Russo One', sans-serif;
	text-shadow: 3px 0px 0px #1D91B8, 
                 -1px 0px 0px #1D91B8, 
                 0px 3px 0px #1D91B8, 
                 0px -1px 0px #1D91B8;
    margin-left: 54px;
}

@import url('https://fonts.googleapis.com/css?family=Anton');

.css-link{
	font-size: 27px;
	color: #fff;
	font-family: 'Lobster Two', cursive;
	text-shadow: 3px 0px 0px #2A8400, 
                 -1px 0px 0px#2A8400, 
                 0px 3px 0px #2A8400, 
                 0px -1px 0px#2A8400;
    margin-left: 60px;
}

.php-link{
	font-size: 30px;
	color: #fff;
	font-family: 'Lobster Two', cursive;
	text-shadow: 2px 0px 0px #58379F, 
                 -1px 0px 0px#58379F, 
                 0px 2px 0px #58379F, 
                 0px -1px 0px#58379F;
	font-family: 'Anton', sans-serif;
	margin-left: 59px;
	margin-top: -5px;
}

.js-link{
	color: #fff;
	font-family: 'Lobster Two', cursive;
	text-shadow: 3px 0px 0px #000, 
                 -1px 0px 0px#000, 
                 0px 3px 0px #000, 
                 0px -1px 0px#000;
    margin-left: 30px;
}


.web-icon{
	position: fixed;
	color: #000;
	left: 10px;
	background-color: #fff;
	bottom: 175px;
	padding: 5px;
	border: 1px solid #000;
	border-radius: 7px;
}



